﻿@{
    ViewData["Title"] = "Home Page";
}
@model SneakerListViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Id</span>
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                <span>Name</span>
            </th>
            <th>
                <span>Description</span>
            </th>
            <th>
                <span>Price</span>
            </th>
            <th>
                <span>Add to cart</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Sneakers.Length; i++)
        {
            <tr>
                <td>
                    <span>@Model.Sneakers[i].Id</span>
                </td>
                <td>
                    <a asp-action="SneakerInfo" asp-controller="Sneaker" asp-route-id="@Model.Sneakers[i].Id"><img src="@Model.Sneakers[i].ImageSource" alt="Sneaker" style="max-width: 256px;" /></a>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Name</span>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Description</span>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Price</span>
                </td>
                <td>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="id" value="@Model.Sneakers[i].Id" />
                        <input type="submit" class="btn btn-primary" value="Add to cart" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
