header {
    top: 0;
    left: 0;
    background: #4a76a8;
    height: 42px;
    width: 100%;
    position: absolute;
}

.inline_elem {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}


.avatar_panel {
    width: 200px;
    background: white;
    padding: 15px;
    border-radius: 4px;
    margin-left: 90px;
}

#photo{
    border-radius: 2px;
    max-width: 200px;
}
.button_secondary {
    color: #55677d;
    background-color: #cdf5ff;
    border-radius: 20%;
    display: inline-block;
    height: 25px;
    width: 40px;
    opacity: 0.7;
    text-align: center;
}

.button_first{
    border-radius: 5%;
    display: inline-block;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    color: #55677d;
    background-color: #cdf5ff;
    text-align: center;
    height: 25px;
    opacity: 0.7;
    width: 150px;
}

#left_link_bar {

    color: #2a5885;
}

.menu{
    height: 25px;
}
#lil_avatar {
    width : 28px;
    height : 28px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 6px;
}

body {
    background-color: #edeef0;
}

.top_profile {
    float: right;
}

.left_link {
    float: top;
    margin-left: 200px;
    margin-top: 6px;
}
.search{
    margin-left: 150px;
    float: left;
}

.text{
    font-size: 14px;
    margin-top: 0;
}

.vklogo{
    width: 34px;
    height: 19px;
    margin-left: 200px;
    float: left;
}

.information{
    display: block;
    text-align: left;
    height: 300px;
    width: 560px;
    border-radius: 2%;
    background-color: white;
    float: right;
    margin-right: 280px;
}

.photos_block{
    display: inline-block;
    height: 180px;
    width: 560px;
    border-radius: 2%;
    padding-bottom: 20px;
    background-color: white;
    float: right;
    margin-top: 10px;
    margin-right: 280px;
}
.photos{
    font-size: 15px;
    font-family: Calibri;
    margin-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
#my_photos {
    padding-right: 5px;
}

.profil_name{
    margin-left: 20px;
    margin-top: 25px;
    font-size: 25px;
    color: black;
    font-family: Calibri;
    display: inline-block;
}
#status{
    margin-top: 30px;
    float: right;
    color: darkgrey;
    display: inline-block;
    margin-right: 20px;
}

#change_status{
    margin-top: -1px;
    padding-bottom: 10px;
    color: darkgrey;
    margin-left: 22px;
    font-size: 15px;
    font-family: Calibri;
    border-bottom: #edeef0 1px solid;
    width: 520px;
}

.info_text{
    margin-left: 22px;
    color: #7a7a7a;
    padding-bottom: 20px;
    font-size: 15px;
    display: inline-block;
    width: 520px;
    border-bottom: #edeef0 1px solid;
}

#show_information{
    padding-top: 20px;
    font-size: 15px;
    color: #2a5885;
    margin-left: 190px;
}

.end{
    display: inline-block;
    padding-top: 10px;
    font-size: 25px;
    color: #2a5885;
    padding-bottom: 3px;
    margin-left: 60px;
}

.end_text{
    display: inline-block;
    font-size: 13px;
    color: #2a5885;
    margin-left: 50px;
}
#october{
    float: right;
    margin-right: 270px;
    color: #2a5885;
}

#lover{
    float: right;
    margin-right: 269px;
    color: #2a5885;
}

#kfu{
    margin-left: 98px;
    color: #2a5885;
    padding-bottom: 10px;
}

.photos_png{
    margin-left: 30px;
}

.text_friends{
    margin-left: 15px ;
    margin-top: 10px;
    font-family: Calibri;
    font-size: 16px;
}

#update{
    color: #7a7a7a;
    float: right;
    font-size: 15px;
    font-family: Calibri;
    margin-right: 10px
}
.friends_border{
    display: block;
    width: 230px;
    background: white;
    border-radius: 4px;
    height: 340px;
    float: left;
    margin-left: 406px;
}

.friends_icons{
    margin-left: 15px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 5px;
    border-bottom: #edeef0 1px solid;
}

.friends_icons2{
    margin-left: 15px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 5px;
}

.what\'sNew {
    display: inline-block;
    background-color: white;
    margin-top: 10px;
    border-radius: 1%;
    width: 560px;
    height: 50px;
    margin-left: 25px;
}

#whatAvatar{
    width : 28px;
    height : 28px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

#text {
    color: #7a7a7a;
    margin-left: 60px;
    margin-top: -27px;
    font-size: 15px;
}
#img {
    float: right;
    height: 45px;
    margin-top: -45px;
}

.wall{
    display: block;
    margin-top: 10px;
    background-color: white;
    width: 560px;
    height: 200px;
    margin-left: 660px;
}

.wallText{
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: #7a7a7a 1px solid;
    color: #7a7a7a;
    font-size: 15px;
    font-family: Algerian;
    margin-left: 20px;
}

#wallText{
    margin-left: 150px;
    margin-top: 70px;
    color: #7a7a7a;
}