﻿@model SneakerView
@{
    ViewData["Title"] = Model.Sneaker.Name;
}

<h2>@Model.Sneaker.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Id</span>
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                <span>Name</span>
            </th>
            <th>
                <span>Description</span>
            </th>
            <th>
                <span>Price</span>
            </th>
            <th>
                <span>Add to cart</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span>@Model.Sneaker.Id</span>
            </td>
            <td>
                <img src="/@Model.Sneaker.ImageSource" alt="Sneaker" style="max-width: 256px;" />
            </td>
            <td>
                <span>@Model.Sneaker.Name</span>
            </td>
            <td>
                <span>@Model.Sneaker.Description</span>
            </td>
            <td>
                <span>@Model.Sneaker.Price</span>
            </td>
            <td>
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="id" value="@Model.Sneaker.Id" />
                    <input type="submit" value="Add to cart" />
                </form>
            </td>
        </tr>
    </tbody>
</table>

@if (Model.Feedbacks.Count() > 0)
{
    <ul>
        @for (int i = 0; i < Model.Feedbacks.Count(); i++)
        {
            <li>
                <b>@Model.Feedbacks[i].AuthorName :</b><p>@Model.Feedbacks[i].Text</p>
            </li>
        }
    </ul>
}

<h3>Leave your feedback:</h3>
<form asp-action="PostFeedback" asp-controller="Sneaker">
    <textarea name="text" id="text" placeholder="Type something here..."></textarea>
    <input type="hidden" name="id" value="@Model.Sneaker.Id"/>
    <input type="submit" class="btn btn-primary" value="Post" />
</form>
