body{
    background: url("images/background.jpg");
}
.title{
    font-size: 40px;
    font-family: "MV Boli", serif;
    margin-left: 120px;
    margin-top: 90px;
    color: ghostwhite;
}
#mini_title{
    font-family: "Comic Sans MS", serif;
    font-size: 18px;
    color: darkgoldenrod;
    margin-top: -50px;
    margin-left: 130px;
}
.blocks{
    display: block;
    width: 600px;
    height: 50px;
    background-color: black;
    opacity: 0.4;
    filter: alpha(Opacity=40);
    margin-left: 120px;
    border-radius: 10px;
}
#biography{
    display: block;
    width: 130px;
    height: 40px;
    margin-left: 17px;
    padding-top: 9px;
    font-size: 20px;
    font-family: "Comic Sans MS", serif;
    color: ghostwhite;
    border-right: lightslategrey 2px solid;
}
#photos{
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 150px;
    height: 41px;
    font-size: 20px;
    margin-left: 155px;
    margin-top: -69px;
    font-family: "Comic Sans MS", serif;
    color: ghostwhite;
    border-right: lightslategrey 2px solid;
}
#contacts{
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 150px;
    height: 41px;
    font-size: 20px;
    margin-left: 310px;
    margin-top: -69px;
    font-family: "Comic Sans MS", serif;
    color: ghostwhite;
    border-right: lightslategrey 2px solid;
}
#cv{
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 150px;
    height: 41px;
    font-size: 20px;
    margin-left: 450px;
    margin-top: -49px;
    font-family: "Comic Sans MS", serif;
    color: ghostwhite;
}
A{
    color: lightslategrey;
}
A:active {
    color: lightslategrey;
}
A:visited{
    color: lightslategrey;
}
.board_for_text{
    display: block;
    background-color: tan;
    width: 1100px;
    height: 700px;
    margin-left: 120px;
    margin-top: 30px;
    opacity: 0.6;
    filter: alpha(Opacity=60);
    border-radius: 20px;
}
.photos{
    display: block;
    position:  relative;
    width: 1000px;
    height: 500px;
    margin-left: 180px;
    margin-top: -671px;
}
.photo1{
    padding-right: 10px;
    padding-bottom: 10px;
}
#phone{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 30px;
}
#phone1{
    font-size: 20px;
    font-family: Calibri,serif;
    margin-left: 60px;
    margin-top: -44px;
}
#vk{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
}
#vk1{
    font-size: 20px;
    font-family: Calibri,serif;
    margin-left: 62px;
    margin-top: -40px;
}
#inst{
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
}
#inst1{
    font-size: 20px;
    font-family: Calibri,serif;
    margin-left: 63px;
    margin-top: -52px;
}
#gmail{
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
}
#gmail1{
    font-size: 20px;
    font-family: Calibri,serif;
    margin-left: 63px;
    margin-top: -52px;
}
.CVtitle{
    display: block;
    position: relative;
    margin-left: 280px;
    margin-top: -690px;
    width: 800px;
}
#title{
    font-size: 22px;
    font-family: "Comic Sans MS", serif;
    color: black;
    margin-left: 200px;
}
#purpose{
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    color: black;
    margin-left: 210px;
    margin-top: -10px;
}
.information{
    display: block;
    position: relative;
    height: 183px;
    width: 150px;
    margin-left: 310px;
    padding-top: 10px;
}
.information_text{
    width: 500px;
    display: block;
    height: 202px;
    position: relative;
    margin-left: 480px;
    margin-top: -198px;
    font-family: "Comic Sans MS", serif;
}
#birthday{
    padding-top: 25px;
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    padding-left: 15px;
    border-top: black 1px solid;
}
#telephone{
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    padding-left: 15px;
}
#adress{
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    padding-left: 15px;
}
#marital_status{
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    padding-left: 15px;
    padding-bottom: 37px;
    border-bottom: black 1px solid;
}
.university{
    display: block;
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: 320px;
    margin-top: 25px;
}
#text1{
    font-weight: bold;
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
}
#text2{
    font-size: 14px;
    font-family: "Comic Sans MS", serif;
    margin-left: 20px;
}
.another_information{
    display: block;
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: 320px;
    margin-top: -75px;
}
#another_information{
    font-weight: bold;
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
}
.pluses{
    font-size: 14px;
    font-family: "Comic Sans MS", serif;
    margin-left: 20px;
}
.biography{
    display: block;
    position: relative;
    margin-left: 280px;
    margin-top: -660px;
    width: 900px;
}
#txt1{
    border-top: black 1px solid;
}
#txt2{
    border-bottom: black 1px solid;
}

u {
    cursor:pointer;
}

