body{
    background-color: lightcyan;
    user-select: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: lightslategrey;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: Tahoma, serif;
}
.item{
    background-color: #212121;
    color: darkgrey;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    font-weight: bold;
}
form{
    max-width: 100%;
}
input{
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}
.input{
    grid-column: 1/-1;
    padding: 0;
}
.clean{
    grid-column: 1/3;
    background-color: greenyellow;
    color: #000;
}
.back{
    grid-column: 3/-1;
    background-color: greenyellow;
    color: black;
}
.equal{
    grid-column: 4;
    grid-row: 6/8;
    background-color: greenyellow;
    color: black;
}
.zero{
    grid-column: 1/3;
}