﻿@{
    ViewData["Title"] = "Cart";
}
@model CartViewModel

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Id</span>
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                <span>Name</span>
            </th>
            <th>
                <span>Description</span>
            </th>
            <th>
                <span>Price</span>
            </th>
            <th>
                <span>Quantity</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Cart.Lines.Count(); i++)
        {
            <tr>
                <td>
                    <span>@Model.Sneakers[i].Sneaker.Id</span>
                </td>
                <td>
                    <img src="@Model.Sneakers[i].Sneaker.ImageSource" alt="Sneaker" style="max-width: 256px;" />
                </td>
                <td>
                    <span>@Model.Sneakers[i].Sneaker.Name</span>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Sneaker.Description</span>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Sneaker.Price</span>
                </td>
                <td>
                    <span>@Model.Sneakers[i].Quantity</span>
                </td>
                <td>
                    <form asp-action="RemoveFromCart" asp-controller="Cart">
                        <input type="hidden" value="@Model.Sneakers[i].Sneaker.Id" name="id" />
                        <input type="submit" value="Remove" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Sneakers.Count > 0)
{
    <h3>Total sum: @Model.TotalPrice</h3>
    <form asp-controller="Cart" asp-action="CreateOrderAsync">
        <label for="name">Your name:</label>
        <input type="text" id="name" name="name" required value="@(User.Identity.IsAuthenticated ? User.Identity.Name : String.Empty)" />
        <label for="email">Your email:</label>
        <input type="text" id="email" name="email" required value="@(User.Claims.FirstOrDefault(x => x.Type == "Email")?.Value ?? String.Empty)" />
        <label for="phone">Your phone:</label>
        <input type="text" id="phone" name="phoneNumber" />
        <input type="submit" value="Submit order" />
    </form>
}
else
{
    <h3>You don't have anything in your cart. <a asp-controller="Home" asp-action="Index">Go get something!</a></h3>
}
